<div class="vertical-pf">
    <h1>Reportar aprendiz</h1>
    <h4><strong>1.</strong> Debes acceder al perfil del usuario que deseas reportar, de la manera que prefieras.</h4>

    <h4><strong>2.</strong> Allí, deberás presionar sobre el botón de opciones y seleccionar el botón "Reportar".</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FReportarUsuario1.png?alt=media&token=a26ba20c-ce99-4805-89d1-c216ca39258c"
            alt="" />
    </div>

    <h4><strong>3.</strong> Se desplegará el siguiente popup.</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FReportarUsuario2.png?alt=media&token=e14b3801-dde6-4f4c-b4b2-76f2850424da"
            alt="" />
    </div>

    <h4><strong>4.</strong> Debes seleccionar uno o más motivos para reportar a un usuario. Además, de manera opcional
        puedes agregar una descripción.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FReportarUsuario3.png?alt=media&token=def9cd69-0748-45db-a1cb-6c713d23a5cd"
            alt="" />
    </div>

    <h4><strong>5.</strong> Una vez completados los datos, debes presionar en el botón "Enviar" y se mostrará el mensaje
        de confirmación.</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FReportarUsuario4.png?alt=media&token=ead48706-188a-4a79-b382-589b92dd7cdd"
            alt="" />
    </div>

    <br>
    <br>
    <br>
</div>