<div class="letra">
    <h3>Pasos para completar la url de la foto del país</h3>
    <h5>1. Diríjase al link que se encuentra debajo</h5>
    <a href="https://flagicons.lipis.dev/" target="_blank">https://flagicons.lipis.dev/</a>
    <h5>2. Busque el país que quiere agregarle la foto de la bandera</h5>
    <h5>3. Copie las dos primeras sílabas en negrita como indica la foto siguiente</h5>
    <div class="centrado">
        <img src="../../../assets/IntructivoPaises.jpeg"/>
    </div>
    <h5>4. Pegue en el campo de url de la foto de la bandera</h5>
    <h5>¡LISTO!</h5>

</div>
    