<div class="vertical-pf">
    <h1>Recuperar Contraseña</h1>
    <h4><strong>1.</strong> En la pantalla de iniciar sesión verás la opción de <strong>¿Olvidaste tu
            contraseña?</strong>, la cual
        deberás presionar.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FRecuperarContrasenia1.png?alt=media&token=421aff7d-7dbc-48e6-a9ee-11c61b4368c4"
            alt="" />
    </div>

    <h4><strong>2.</strong> Serás redirigido a la siguiente pantalla, donde deberás ingresar el correo electrónico de tu
        cuenta de
        Talk2gether.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FRecuperarContrasenia2.png?alt=media&token=f6b9f049-738d-4ff9-8b50-cab0dd23d5fe"
            alt="" />
    </div>

    <h4><strong>3.</strong> Luego de presionar en el botón "Siguiente", se te enviará un correo electrónico.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FRecuperarContrasenia3.png?alt=media&token=5f4821c9-651e-41e8-9d70-13b3bc74cd8f"
            alt="" />
    </div>

    <h4><strong>4.</strong> En tu casilla de correo verás un mensaje como el siguiente. Recuerde de que en caso de no
        haberlo recibido
        dentro de 5 minutos, puedes presionar el botón "Reenviar correo" de la pantalla anterior.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FRecuperarContrasenia4.png?alt=media&token=5b285c80-e879-4222-ad21-da610c09e592"
            alt="" />
    </div>

    <h4><strong>5.</strong> Al abrir el correo verás el siguiente mensaje. Debes presionar sobre <strong>RECUPERAR
            AHORA</strong></h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FRecuperarContrasenia5.png?alt=media&token=7b51ad29-ff50-4d0c-8717-0355609eb690"
            alt="" />
    </div>

    <h4><strong>6.</strong> Serás redirigido nuevamente a Talk2gether, donde deberás ingresar la nueva contraseña que
        deseas para tu
        cuenta y presionar en "Confirmar".</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FRecuperarContrasenia6.png?alt=media&token=c00e40ff-4c8c-416a-863e-e1a8939605c2"
            alt="" />
    </div>

    <h4><strong>7.</strong> ¡LISTO! Tu contraseña fue restablecida.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FRecuperarContrasenia7.png?alt=media&token=eadca997-a6d4-4327-875a-f06f21f0245e"
            alt="" />
    </div>

    <h4>Ya puedes iniciar sesión y continuar utilizando la plataforma <strong>Talk2gether</strong>.</h4>
    <br>
    <br>
    <br>
</div>