<div class="vertical-pf">
    <div class="horizontal-pf">
        <h1>¡Bienvenido a Talk2gether!</h1>
        <img class="img-pf" src="../../../assets/images/talk2gether.svg" height="70px"
            class="d-inline-block align-top d-none d-md-block" alt="" />
    </div>
    <div class="vertical-pf">
        <h4> Aprender cualquier idioma está al alcance de tu mano.</h4>
        <h4> Tendrás la posibilidad de hablar con otras personas de cualquier parte del mundo.</h4>
        <h4> Es muy simple, dirígete a la página de registro o presiona el botón que se encuentra debajo.</h4>
        <div class="container-pf">
            <button class="boton-pf animation-button" (click)="redirigirRegistro()">Registro</button>
        </div>
        <h4> Cuando termines tu registro estarás listo para <strong>disfrutar de Talk2gether</strong>.</h4>
    </div>
</div>