@import "../../../../../../assets/custom_scss/variables.scss";

app-register-user-step-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .register-user-step-1 {
    background-color: $color-principal;
    border-radius: $border-radius-containers;
    margin-top: 3rem;
    &__column {
      padding: 2% 4% 0 4%;
      h2 {
        padding: 3% 0;
        font-weight: bold;
        color: $color-white;
      }

      &__field {
        margin-bottom: 1rem;

        &__title {
          font-weight: bold;
          font-size: 1.438rem;
          color: $color-white;
        }

        &__container {
          position: relative;
          .password-eyes {
            position: absolute;
            top: 50%;
            right: 0.625rem;
            transform: translateY(-50%);
            cursor: pointer;
            color: $color-black;
          }
        }
      }
    }

    &__buttons {
      padding: 3% 4%;

      &__back {
        background-color: $color-button-back;
        font-weight: bold;
        border-radius: $border-radius-button;
        border: 0;
        filter: drop-shadow($color-shadow);
      }

      &__submit {
        background-color: $color-button-submit !important;
        border: 0;
        font-weight: bold;
        border-radius: $border-radius-button;
        filter: drop-shadow($color-shadow);
      }
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      cursor: pointer;
    }
  }

}