<div class="container register-user-step-1">
  <div class="row">
    <!-- Primera columna del registro -->
    <div class="col-md-6 register-user-step-1__column">
      <h2>{{common_register.register_step_1.title}}</h2>
      <form [formGroup]="registerForm">
        <!-- Campo para "Nombre" -->
        <div class="register-user-step-1__column__field">
          <label class="register-user-step-1__column__field__title"
            for="name">{{common_register.register_step_1.name_label}}</label>
          <input type="text" id="userName" class="form-control" formControlName="userName"
            placeholder={{common_register.register_step_1.placeHolder.nameLabel}}>
          <ng-container *ngIf="registerForm.get('userName').hasError('pattern')">
            <p class="text-error">
              {{common_register.register_step_1.error.valid_name}}
            </p>
          </ng-container>
          <ng-container
            *ngIf="registerForm.get('userName').hasError('required') && registerForm.get('userName').touched">
            <p class="text-error">{{common_register.register_step_1.error.must_complete}}</p>
          </ng-container>
        </div>
        <!-- Fin campo para "Nombre" -->

        <!-- Campo para "Apellido" -->
        <div class="register-user-step-1__column__field">
          <label class="register-user-step-1__column__field__title"
            for="name">{{common_register.register_step_1.surname_label}}</label>
          <input type="text" class="form-control" formControlName="surnameUser" id="surnameUser"
            placeholder={{common_register.register_step_1.placeHolder.surnameLabel}}>
          <ng-container *ngIf="registerForm.get('surnameUser').hasError('pattern')">
            <p class="text-error">
              {{common_register.register_step_1.error.valid_surname}}
            </p>
          </ng-container>
          <ng-container
            *ngIf="registerForm.get('surnameUser').hasError('required') && registerForm.get('surnameUser').touched">
            <p class="text-error">{{common_register.register_step_1.error.must_complete}}</p>
          </ng-container>
        </div>
        <!-- Fin campo para "Apellido" -->

        <!-- Campo para "Fecha" -->
        <div class="register-user-step-1__column__field">
          <label class="register-user-step-1__column__field__title"
            for="date">{{common_register.register_step_1.dateBorn_label}}</label>
          <div>
            <input type="date" class="form-control" id="dateBorn" min="1940-01-01" (click)="selectDate()"
              onkeydown="return false">
            <ng-container *ngIf="emptyDate && registerForm.get('dateBorn').touched">
              <p class="text-error">
                {{common_register.register_step_1.error.obligatory_field}}
              </p>
            </ng-container>
          </div>
        </div>
        <!-- Fin campo para "Fecha" -->
      </form>
    </div>
    <!-- Fin primera columna del registro -->

    <!-- Segunda columna del registro -->
    <div class="col-md-6 register-user-step-1__column">
      <h2>&#8203;</h2>

      <form [formGroup]="registerForm">
        <!-- Campo para "Email" -->
        <div class="register-user-step-1__column__field">
          <label class="register-user-step-1__column__field__title"
            for="email">{{common_register.register_step_1.email_label}}</label>
          <input type="email" class="form-control" formControlName="email" id="email"
            placeholder={{common_register.register_step_1.placeHolder.emailLabel}}>
          <div *ngIf="registerForm.get('email').hasError('pattern')">
            <p class="text-error">
              {{common_register.register_step_1.error.valid_email}}
            </p>
          </div>
          <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
            <p class="text-error">{{common_register.register_step_1.error.must_complete}}</p>
          </div>
        </div>
        <!-- Fin campo para "Email" -->

        <!-- Campo para "Password1" -->
        <div class="register-user-step-1__column__field">
          <label class="register-user-step-1__column__field__title"
            for="password">{{common_register.register_step_1.password_label}}</label>
          <div class="register-user-step-1__column__field__container">
            <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" formControlName="password"
              id="password1" placeholder={{common_register.register_step_1.placeHolder.passwordLabel}}>
            <a class="password-eyes" (click)="togglePasswordView()">
              <span *ngIf="showPassword"><i class={{icon_class.eye_open}}></i></span>
              <span *ngIf="!showPassword"><i class={{icon_class.eye_close}}></i></span>
            </a>
          </div>
          <div *ngIf="registerForm.get('password').hasError('strong') &&
            registerForm.get('password').touched && registerForm.get('password').value.length >0">
            <p class="text-error">
              {{common_register.register_step_1.error.valid_password}}
            </p>
          </div>
          <div *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
            <p class="text-error">{{common_register.register_step_1.error.must_password}}</p>
          </div>
        </div>
        <!-- Fin campo para "Password1" -->

        <!-- Campo para "Password2" -->
        <div class="register-user-step-1__column__field">
          <label class="register-user-step-1__column__field__title" for="password">Repetir Contraseña*</label>
          <div class="register-user-step-1__column__field__container">
            <input type="{{ showRepeatPassword ? 'text' : 'password' }}" class="form-control"
              formControlName="password2" id="password2" pattern="{{ registerForm.get('password').value }}"
              placeholder="Ingrese su contraseña" style="font-family: Poppins; color: black;">
            <a class="password-eyes" (click)="toggleRepeatPasswordView()">
              <span *ngIf="showRepeatPassword"><i class="fas fa-eye"></i></span>
              <span *ngIf="!showRepeatPassword"><i class="fas fa-eye-slash"></i></span>
            </a>
          </div>
          <div *ngIf="registerForm.get('password').value != registerForm.get('password2').value
              && registerForm.get('password2').touched">
            <p class="text-error">
              {{common_register.register_step_1.error.must_equal}}
            </p>
          </div>
        </div>
        <!-- Fin campo para "Password2" -->
      </form>
    </div>
    <!-- Fin segunda columna del registro -->

    <!-- Botones -->
    <div class="d-flex register-user-step-1__buttons">
      <div>
        <button type="submit" class="btn btn-primary register-user-step-1__buttons__back animation-button"
          (click)="returnPage()">Volver</button>
      </div>
      <div class="ms-auto">
        <button type="submit" class="btn btn-primary register-user-step-1__buttons__submit animation-button"
          [disabled]="registerForm.invalid" (click)="goSecondPartForm()">Siguiente</button>
      </div>
    </div>
    <!-- Fin -->
  </div>

</div>