<div class="vertical-pf">
    <h1>Eliminar cuenta</h1>
    <h4><strong>1.</strong> Para eliminar tu cuenta debes acceder a la <strong>pantalla de configuración</strong>.</h4>

    <h4><strong>2.</strong> Debes presionar tu foto de perfil en la esquina superior derecha. En el menú desplegable,
        deberás seleccionar
        la opción de "Configuración".</h4>

    <div class="container-pf">
        <img style="border: solid black 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FMenuConfiguracion.png?alt=media&token=a6b237d7-d88f-4b30-b6df-ccbfcb9f8962"
            alt="" />
    </div>

    <h4><strong>3.</strong> Allí, deberás dirigirte a la parte inferior de la pantalla, y presionar sobre el botón de
        "Eliminar cuenta".
    </h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FEliminarCuenta.png?alt=media&token=824ddcea-28d7-4fd0-8b83-9c0dce344468"
            alt="" />
    </div>

    <h4><strong>4.</strong> Se desplegará un popup donde deberás seleccionar <strong>al menos un motivo</strong> de la
        lista, que nos
        permitirá comprender
        por qué deseas eliminar tu cuenta de Tal2gether.
    </h4>

    <h4><strong>5.</strong> Además deberás escribir tu contraseña actual para validar el proceso de eliminación.
        Recuerda que tu cuenta
        <strong>NO podrá ser recuperada.</strong>
    </h4>

    <div class="container-pf">
        <img style="border: solid black 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FEliminarCuenta2.png?alt=media&token=0a5f8647-00e9-444b-abc2-2008c9cb186c"
            alt="" />
    </div>

    <h4><strong>6.</strong> Luego de completar los datos correctamente, se cerrará tu sesión y tu cuenta será eliminada.
    </h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FEliminarCuenta3.png?alt=media&token=47fe1bfd-abae-48c0-802d-9e1ef06121c7"
            alt="" />
    </div>

    <br>
    <br>
    <br>
</div>