<div class="modal-content-interes">
  <div class="modal-header">
    <button type="button" class="btn btn-link" (click)="dismissModal()">
      <i class="far fa-times-circle grande"></i>
    </button>
  </div>
  <form [formGroup]="idiomaForm" (ngSubmit)="enviarDatos()" class="formulario-orden">
    <h2 class="estilo-letra-h2">Añadir nuevo idioma</h2>
    <div class="padding">
      <div class="estilo-letra">
        <label for="idioma">Idioma*</label>
      </div>
      <div class="estilo-letra">
        <input type="text" id="idioma" formControlName="idioma" placeholder="Ingresá el idioma" required />
      </div>
      <div>
        <div *ngIf="idiomaForm.get('idioma').hasError('required') && submitForm">
          <div class="text-error">El idioma es requerido</div>
        </div>
        <div *ngIf="idiomaForm.get('idioma').errors?.['soloLetras'] && submitForm">
          <div class="text-error">Solo se permiten letras y espacios.</div>
        </div>
      </div>
      <div class="botones">
        <div type="button" class="botones-volver estilo-letra grande" (click)="dismissModal()">Volver</div>
        <button class="botones-submit estilo-letra grande" type="submit">Confirmar</button>
      </div>
    </div>
  </form>
</div>