/*Definición variables*/


/* Colores */
$color-base: aliceblue;
$color-principal: #2b6a78;
$color-background-home: #8CD1E9;
$color-message-error: #ff9234;

$color-button-submit: #199de8;
$color-button-back: #909293;
$color-border: #ccc;

$color-black: black;
$color-white: white;

$color-letter-button: #fff;

$color-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Fuentes */
$font-family: Poppins;

/* Propiedades personalizadas */
$border-radius-containers: 2rem;
$border-radius-input: 1.5rem;
$border-radius-button: 0.625rem;