<div class="vertical-pf">
    <h1>Ranking</h1>
    <h4><strong>1.</strong> Inicia sesión y se te redirigirá a la página de inicio.</h4>

    <h4><strong>2.</strong> Si ya iniciaste sesión y te encuetras en otra pantalla solo presiona el ícono de
        Talk2gether.</h4>

    <h4><strong>3.</strong> Si usaste cualquiera de las dos opciones anteriores, te encontrarás en la pantalla
        principal, donde deberás presionar en el ícono de "Ranking".</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FRanking1.png?alt=media&token=c4037a0c-f926-4c10-a58e-43146a285e37"
            alt="" />
    </div>

    <h4><strong>4.</strong> Serás redirigido a la tabla del ranking global de la plataforma, la cual muestra los 25
        usuarios con mayor
        puntuación en todo Talk2gether.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FRanking2.png?alt=media&token=e05dd495-1c9c-4fcc-aedf-925d79e30e8f"
            alt="" />
    </div>

    <h4><strong>5.</strong> Si no te encuentras dentro de los primeros 25 usuarios, aparecerás al final de la tabla. El
        número de la izquierda indica en qué pocisión del ranking global te encuentras.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FRanking3.png?alt=media&token=bf24ab16-d052-4d6b-b92f-d76bfa38ef60"
            alt="" />
    </div>

    <h4><strong>6.</strong> Si deseas volver al menú principal, puedes presionar en la X que se encuentra en la esquina
        superior derecha o en el ícono de <strong>Talk2gether</strong>.</h4>

    <br>
    <br>
    <br>
</div>