app-principal-chat {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #fff;
    color: #141414;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    .responsive {
        padding-top: 96px;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}