<div class="content">
  <div class="content__row">
    <div class="content__row__text color-v1">
      <h1 class="content__row__text-title">{{common_home_page.first_container_home_page.title}}</h1>
      <h2 class="content__row__text-subtitle">{{common_home_page.first_container_home_page.description}}</h2>
    </div>
    <div class="content__row__image">
      <img class="content__row__image-general" src="../../../assets/p1.jpeg">
    </div>
  </div>
  <div class="content__row">
    <div class="content__row__text color-v2">
      <h1 class="content__row__text-title">{{common_home_page.second_container_home_page.title}}</h1>
      <h2 class="content__row__text-subtitle">{{common_home_page.second_container_home_page.description}}</h2>
    </div>
    <div class="content__row__image">
      <img class="content__row__image-general" src="../../../assets/p2.jpeg">
    </div>
  </div>
  <div class="content__row">
    <div class="content__row__text color-v1">
      <h1 class="content__row__text-title">{{common_home_page.third_container_home_page.title}}</h1>
      <h2 class="content__row__text-subtitle">{{common_home_page.third_container_home_page.description}}</h2>
    </div>
    <div class="content__row__image">
      <img class="content__row__image-general" src="../../../assets/p3.jpeg">
    </div>
  </div>
  <div class="content__row">
    <h3 class="content__row__epigraph">{{common_home_page.copyright_message}}</h3>
  </div>
</div>
