.content {
  height: 100vh;
  padding-top: 10.05rem;

  &__row {
    display: flex;

    &__image {
      height: 55rem;
      flex-basis: 50%;

      &-general {
        width: 100%;
        height: 100%;
      }
    }

    &__text {
      height: 55rem;
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 2rem;
      text-align: center;

      &-title {
        font-size: 4.5rem;
        font-weight: bold;
      }

      &-subtitle {
        font-size: 3.5rem;
      }
    }

    &__epigraph {
      font-size: 1.5rem;
      padding: 1.5rem;
      color: var(--color-principal);
      font-weight: bold;
    }

    .color-v1 {
      background-color: var(--colot-background-home);
    }

    .color-v2 {
      background-color: var(--colot-white);
    }
  }
}


/* Small (SM) */
@media (max-width: 767.98px) {
  .content {
    &__row {
      display: flex;
      flex-wrap: wrap;
      &__text{
        flex-basis: 100%;
      }
      &__image{
        flex-basis: 100%;
      }
    }
  }
}


/* Large (LG) */
@media (max-width: 1199.98px) {
  .content {
    &__row {
      &__text {
        &-title {
          font-size: 3rem;
          font-weight: bold;
        }
        &-subtitle {
          font-size: 2rem;
        }
      }
    }
  }
}