<div class="contenido-principal conteiner">
  <div class="row align-items-start m-0">
    <div class="col">
      <h1>{{common_home_page.first_container_home_page.title}}</h1>
      <h2>{{common_home_page.first_container_home_page.description}}</h2>
    </div>
    <div class="imagen">
      <img src="../../../assets/p1.jpeg" alt="Descripción de la imagen">
    </div>
  </div>
</div>
<div class="contenido-secundario conteiner">
  <div class="row align-items-start m-0">
    <div class="imagen">
      <img src="../../../assets/p2.jpeg" alt="Descripción de la imagen">
    </div>
    <div class="col">
      <h1>{{common_home_page.second_container_home_page.title}}</h1>
      <h2>{{common_home_page.second_container_home_page.description}}</h2>
    </div>
  </div>
</div>
<div class="contenido-principal conteiner">
  <div class="row align-items-start m-0">
    <div class="col">
      <h1>{{common_home_page.third_container_home_page.title}}</h1>
      <h2>{{common_home_page.third_container_home_page.description}}</h2>
    </div>
    <div class="imagen">
      <img src="../../../assets/p3.jpeg" alt="Descripción de la imagen">
    </div>
  </div>
</div>

<div class="contenido-terciario conteiner">
  <div class="row align-items-start m-0">
    <div class="linea-negra"></div>
    <div class="col">
      <h3>{{common_home_page.copyright_message}}</h3>
    </div>
  </div>
</div>