<div class="vertical-pf">
    <h1>Perfil de usuario</h1>
    <h4><strong>1.</strong> Inicia sesión y se te redirigirá a la página de inicio.</h4>

    <h4><strong>2.</strong> Si ya iniciaste sesión y te encuetras en otra pantalla solo presiona el ícono de
        Talk2gether.</h4>

    <h4><strong>3.</strong> Si usaste cualquiera de las dos opciones anteriores, te encontrarás en la pantalla
        principal. Allí, podrás
        visualizar el perfil de cualquier usuario presionando sobre su foto de perfil.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FMenuMiPerfil5.png?alt=media&token=1ec8a2e1-6387-4a98-a561-44c3778d8eb7"
            alt="" />
    </div>

    <h4><strong>4.</strong> Para acceder a <strong>tu perfil</strong>, deberás presionar sobre tu foto de perfil en la
        esquina superior derecha y elegir la opción "Mi perfil".</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FMenuMiPerfil.png?alt=media&token=89aadd24-57ba-4392-813c-e1a0dd15cf51"
            alt="" />
    </div>

    <h4><strong>5.</strong> Serás redireccionado a tu perfil, donde verás:</h4>
    <ul>
        <li>
            <h4>Lengua materna</h4>
        </li>
        <li>
            <h4>País</h4>
        </li>
        <li>
            <h4>Idioma que estás aprendiendo</h4>
        </li>
        <li>
            <h4>Foto de perfil</h4>
        </li>
        <li>
            <h4>Descripción</h4>
        </li>
        <li>
            <h4>Posición en el ranking global</h4>
        </li>
        <li>
            <h4>Cantidad de puntos</h4>
        </li>
        <li>
            <h4>Intereses</h4>
        </li>
        <li>
            <h4>Logros</h4>
        </li>
        <li>
            <h4>Estadísticas</h4>
        </li>
    </ul>


    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FMenuMiPerfil2.png?alt=media&token=562d466d-51c0-4b43-b78e-cff7deac46e6"
            alt="" />
    </div>

    <h4><strong>6. Logros</strong>: Para ver el avance en tus logros de la plataforma debes presionar sobre el botón de
        "Logros".</h4>

    <h4><strong>7.</strong>Serás redirigido a la pantalla de logros.</h4>
    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FMenuMiPerfil3.png?alt=media&token=2dbd4a8f-9c56-4e77-8e5b-29cd5fdf0ae0"
            alt="" />
    </div>

    <h4><strong>8.</strong>Para volver a tu perfil puedes presionar en la cruz de la esquina superior derecha.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FMenuMiPerfil2.png?alt=media&token=562d466d-51c0-4b43-b78e-cff7deac46e6"
            alt="" />
    </div>

    <h4><strong>9. Estadísticas</strong>: Para ver tus estadísticas de avance dentro de la plataforma debes presionar
        sobre el botón de
        "Estadísticas".</h4>

    <h4><strong>10.</strong> Serás redirigido a la pantalla de estadísticas.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FMenuMiPerfil4.png?alt=media&token=91cadefa-1867-46d9-b826-5c3f78c40fbf"
            alt="" />
    </div>

    <br>
    <br>
    <br>
</div>