<div class="vertical-pf">
    <h1>Búsqueda de Usuarios</h1>
    <h4><strong>1.</strong> Inicia sesión y se te redirigirá a la página de inicio.</h4>

    <h4><strong>2.</strong> Si ya iniciaste sesión y te encuetras en otra pantalla solo presiona el ícono de
        Talk2gether.</h4>

    <h4><strong>3.</strong> Si usaste cualquiera de las dos opciones anteriores, te encontrarás en la siguiente
        pantalla.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FBuscarUsuario1.png?alt=media&token=b09cc29d-bd01-4d0c-a221-5df51670506c"
            alt="" />
    </div>

    <h4>Si no aplicas ningún tipo de búsqueda específica, verás todos los usuarios que se encuentran en videollamadas
        activas esperando que otra persona ingrese a dialogar con ellos.</h4>

    <h4>Estos usuarios hablan como lengua materna el idioma que tu deseas aprender.</h4>

    <h4><strong>4.</strong> Para realizar una búsqueda filtrada puedes presionar sobre el botón de "Filtros", y se
        abrirá el siguiente
        popup. En él, podrás filtrar de acuerdo a:</h4>

    <ul>
        <li>
            <h4>País</h4>
        </li>
        <li>
            <h4>Nivel mínimo</h4>
        </li>
        <li>
            <h4>Edad</h4>
        </li>
        <li>
            <h4>Intereses</h4>
        </li>
    </ul>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FBuscarUsuario2.png?alt=media&token=4a66717f-dcc6-48c1-86d6-42c68db6cb3c"
            alt="" />
    </div>

    <h4><strong>5.</strong> También puedes buscar usuarios utilizando el buscador de texto. Allí podrás encontrar a
        cualquier usuario a
        partir de su <strong>nombre y apellido</strong>, sin importar sus preferencias o idioma.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FBuscarUsuario3.png?alt=media&token=b7da1fc6-85b4-4bb8-a796-52118ae22f7d"
            alt="" />
    </div>

    <br>
    <h4><strong>Recuerda:</strong></h4>

    <ul>
        <li>
            <h4>Si en la tarjeta de un usuario aparece el ícono <i class="fa-solid fa-video"
                    style="color: #2b6a78;"></i> significa que esta persona se encuentra en una videollamada activa y
                puedes
                ingresar a ella.
            </h4>
        </li>
        <br>
        <li>
            <h4>Si sólo se muestra el ícono <i class="fa-solid fa-message" style="color: #2b6a78;"></i> significa que la
                persona no se encuentra esperando en una videollamada, pero igualmente puedes escribirle vía chat.
            </h4>
        </li>
        <br>
        <li>
            <h4>El valor que aparece junto a la estrella <i class="fa-solid fa-star" style="color: #ffcd3c;"></i> indica
                la calificación del usuario en cuestión. Representa el promedio de todas las calificaciones que ha
                recibido al utilizar Talk2gether.</h4>
        </li>
    </ul>

    <br>
    <br>
    <br>
</div>