<div class="login-container">
  <form class="login-container__form" [formGroup]="loginForm" (ngSubmit)="sendLoginSession()">
    <h1 class="login-container__form__title">{{common_login.login_title}}</h1>
    <div class="login-container__form__group">
      <label for="username" class="login-container__form__group__label">{{common_login.login_email}}
        <input class="login-container__form__group__label__input" type="email" id="username" name="username"
          placeholder={{common_login.login_email_placeholder}} required formControlName="email" />
        <ng-container *ngIf="loginForm.get('email').hasError('pattern') && submitForm">
          <p class="text-error">
            {{common_login.login_structure_error}}
          </p>
        </ng-container>
        <ng-container *ngIf="loginForm.get('email').hasError('required') && submitForm">
          <p class="text-error">{{common_login.login_email_required}}</p>
        </ng-container>
      </label>
    </div>
    <div class="login-container__form__group">
      <label for="password" class="login-container__form__group__label">{{common_login.login_password}}
        <input class="login-container__form__group__label__input" [type]="passwordType" id="password" name="password"
          placeholder={{common_login.login_pass_placeholder}} required formControlName="password" />
        <a class="login-container__form__group__label-eye" (click)="togglePasswordView()">
          <span *ngIf="showPassword"><i class={{icon_class.eye_open}}></i></span>
          <span *ngIf="!showPassword"><i class={{icon_class.eye_close}}></i></span>
        </a>
        <ng-container *ngIf="loginForm.get('password').hasError('required') && submitForm">
          <p class="text-error">{{common_login.login_password_required}}</p>
        </ng-container>
      </label>
    </div>
    <div *ngIf="submitError" class="text-error text-error-response ">
      {{common_login.login_email_pasword_error}}
    </div>
    <div class="login-container__form__buttons">
      <button type="submit"
        class="login-container__form__buttons-submit animation-button">{{common_login.login_submit_button}}</button>
      <a type="button" class="login-container__form__buttons-forgot-pass animation-button"
        (click)="recoverPassword()">{{common_login.login_forgot_password}}</a>
    </div>
  </form>
</div>