@import "../../../../../../assets/custom-scss/variables.scss";

.text-error {
  padding-top: 0.125rem;

  &__input {
    position: absolute;
    font-size: 0.625rem;
    line-height: 0.625rem;
  }

  &-response {
    font-size: 1.25rem;
    line-height: 1.4375rem;
    text-align: center;
    width: 100%;
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__form {
    width: 50%;
    height: auto;
    padding: 3.75rem;
    border: 1px solid $color-border;
    border-radius: $border-radius-containers;
    background-color: $color-principal;

    &__title {
      text-align: center;
      margin-bottom: 1.25rem;
      color: $color-white;
      font-weight: bold;
      font-size: 3.125rem;
    }

    &__group {
      font-weight: bold;

      &__label {
        display: block;
        font-weight: bold;
        color: $color-white;
        font-size: 1.25rem;
        padding-bottom: 1.25rem;
        position: relative;

        &__input {
          width: 100%;
          padding: 0.625rem;
          border: 1px solid $color-border;
          border-radius: $border-radius-input;
          color: $color-black;

        }

        &-eye {
          position: absolute;
          right: 1.25rem;
          top: 2.5rem;
          color: $color-black;
        }
      }

    }

    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 1.25rem;

      &-submit {
        width: 100%;
        padding: 0.625rem;
        border: none;
        background-color: $color-button-submit;
        color: --color-letter-button;
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 1.25rem;
        border-radius: $border-radius-containers;
      }

      &-forgot-pass {
        text-align: center;
        width: 100%;
        color: $color-white;
        font-weight: bold;
      }
    }
  }
}

/* Large (LG) */
@media (max-width: 1199.98px) {
  .login-container {
    &__form {
      width: 60%;
    }
  }
}

/* Medium (MD) */
@media (max-width: 991.98px) {
  .login-container {
    &__form {
      width: 70%;

      &__title {
        font-weight: bold;
        font-size: 1.875rem;
      }

      &__group {
        &__label {
          font-size: 0.9375rem;

        }
      }

      &__buttons {
        row-gap: 0.9375rem;

        &-submit {
          font-size: 0.9375rem;

        }

        &-forgot-pass {
          font-size: 0.9375rem;
          margin-bottom: 0.625rem;
        }
      }
    }
  }

  .text-error {
    font-size: 1.2rem;

    &-response {
      font-size: 0.9375rem;
    }
  }
}

@media(max-height: 700px) {
  .login-container {
    display: block;
    overflow: scroll;
    padding-top: 6.28125rem;

    &__form {
      margin: 1.875rem auto;
    }

  }

}

/* Small (SM) */
@media (max-width: 767.98px) {
  .login-container {
    &__form {
      width: 90%;

      &__title {
        font-weight: bold;
        font-size: 1.25rem;
      }

      &__group {
        &__label {
          font-size: 0.625rem;

          &-eye {
            top: 1.5625rem;
          }
        }
      }

      &__buttons {
        &-submit {
          font-size: 0.625rem;
        }

        &-forgot-pass {
          font-size: 0.625rem;
        }
      }
    }
  }

  .text-error {
    font-size: 0.625rem;
  }
}