<div class="modal-content-interes">
  <div class="modal-header">
    <button type="button" class="btn btn-link animation-button" (click)="dismissModal()">
      <i class="far fa-times-circle"></i>
    </button>
  </div>
  <form [formGroup]="paisForm" (ngSubmit)="enviarDatos()" class="formulario-orden">
    <h2 class="estilo-letra-h2">Añadir nuevo país</h2>
    <div class="padding">
      <div class="estilo-letra">
        <label for="pais">País*</label>
      </div>
      <div class="estilo-letra">
        <input type="text" id="pais" formControlName="pais" placeholder="Ingresá el país" required />
      </div>
      <div>
        <div *ngIf="paisForm.get('pais').hasError('required') && submitForm">
          <div class="text-error">El país es requerido</div>
        </div>
        <div *ngIf="paisForm.get('pais').errors?.['soloLetras'] && submitForm">
          <div class="text-error">Solo se permiten letras y espacios.</div>
        </div>
      </div>
      <div class="estilo-letra">
        <div class="separacion">
          <label for="pais">Url bandera del país*</label>
          <i class="fa-solid fa-circle-info animation-button" (click)="abrirInfo()"></i>
        </div>
      </div>
      <div class="estilo-letra">
        <input type="text" id="urlPais" formControlName="urlPais" placeholder="Ingresá la url de la bandera del país"
          required />
      </div>
      <div>
        <div *ngIf="paisForm.get('urlPais').hasError('required') && submitForm">
          <div class="text-error">La url de la foto del país es requerida</div>
        </div>
        <div *ngIf="paisForm.get('urlPais').errors?.['soloLetras'] && submitForm">
          <div class="text-error">Solo se permiten letras y espacios.</div>
        </div>
      </div>
      <div class="botones">
        <div type="button" class="botones-volver estilo-letra animation-button" type="button" (click)="dismissModal()">
          Volver</div>
        <button class="botones-submit estilo-letra animation-button" type="submit">Confirmar</button>
      </div>
    </div>
  </form>
</div>