<div class="vertical-pf">
    <h1>Bloquear y desbloquear usuario</h1>
    <h4><strong>1.</strong> Debes acceder al perfil del usuario que deseas bloquear, de la manera que prefieras.</h4>

    <h4><strong>2.</strong> Allí, deberás presionar sobre el botón de opciones y seleccionar el botón "Bloquear".</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FBloquearUsuario1.png?alt=media&token=eb9e6d9a-5590-443f-9323-0e682dd303d0"
            alt="" />
    </div>

    <h4><strong>3.</strong> Se desplegará el siguiente popup.</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FBloquearUsuario2.png?alt=media&token=07c516af-b5ce-411d-8bb5-6aa3e605da98"
            alt="" />
    </div>

    <h4><strong>4.</strong> Al seleccionar "Si, bloquear" el usuario quedará bloqueado.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FBloquearUsuario3.png?alt=media&token=c5678bfd-c4c0-48b7-a431-978abfb16960"
            alt="" />
    </div>

    <h4>Que un usuario esté bloqueado implica que:</h4>
    <ul>
        <li>
            <h4>Ya no lo verás en la pantalla principal.</h4>
        </li>
        <li>
            <h4>No podrás acceder a su perfil.</h4>
        </li>
        <li>
            <h4>No podrás enviarle mensajes por chat.</h4>
        </li>
        <li>
            <h4>No recibirás sus mensajes en el chat.</h4>
        </li>
    </ul>

    <h4>Si deseas <strong>desbloquear</strong> a un usuario puedes acceder a su perfil de dos maneras:</h4>

    <ul>
        <li>
            <h4>A través del buscador de Talk2gether en la pantalla principal.</h4>
        </li>
        <li>
            <h4>En tu lista de usuarios bloqueados, en la sección de Configuración.</h4>
        </li>
    </ul>

    <h4><strong>5.</strong> Para acceder a la lista de bloqueados debes dirigirte a la pantalla de configuración.</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FMenuConfiguracion.png?alt=media&token=a6b237d7-d88f-4b30-b6df-ccbfcb9f8962"
            alt="" />
    </div>

    <h4><strong>6.</strong> Allí deberás presionar el botón de "Usuarios bloqueados".</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FBloquearUsuario3b.png?alt=media&token=4c085573-2567-488a-b560-6e9cae7cabc4"
            alt="" />
    </div>

    <h4><strong>7.</strong> Se desplegará un popup con tu lista de usuarios bloqueados.</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FBloquearUsuario4.png?alt=media&token=c863a656-5265-4170-af07-c8df5d9a73bc"
            alt="" />
    </div>

    <h4><strong>8.</strong> Al presionar sobre un usuario serás redirigido a su perfil. Al estar bloqueado, verás la
        pantalla presentada en el <strong>paso 4</strong>. Al presionar en el botón "Desbloquear" verás un mensaje de
        confirmación.</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FBloquearUsuario5.png?alt=media&token=54ad3d9a-4b0e-4375-9bcd-bff04a4ec315"
            alt="" />
    </div>

    <h4>Si presionas en "Si, desbloquear" el usuario será desbloqueado y podrás ver su perfil nuevamente. Además,
        desaparecerán todas las implicancias explicadas en el <strong>paso 4</strong>.</h4>

    <br>
    <br>
    <br>
</div>