@import "./../assets/custom_scss/variables.scss";
@import "./../assets/custom_scss/media-queries.scss";
app-navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
  min-height: 6.28125rem;
  top: 0;
}
