<h4 class="vertical-pf">
    <h1>Verificar Cuenta</h1>
    <h4><strong>1.</strong> Luego de realizar el <a href="/ayuda/registro" target="_blank"
            rel="noopener noreferrer">proceso de
            registro</a>, verás la siguiente pantalla.</h4>
    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FVerificarCuenta1.png?alt=media&token=c4450c0e-5a16-4997-bf4f-9f12d3455733"
            alt="" />
    </div>
    <h4><strong>2.</strong> Deberás dirigirte a tu casilla de correo electrónico, donde verás un correo como el
        siguiente.</h4>
    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FVerificarCuenta2.png?alt=media&token=fd360e1e-e9e6-46e4-8ccc-646b54776afb"
            alt="" />
    </div>
    <h4><strong>3.</strong> Si no has recibido ningún correo luego de 5 minutos, puedes presionar el botón "Reenviar
        correo" que se
        muestra en la pantalla del paso número 1.</h4>

    <h4><strong>4.</strong> Si has recibido el correo correctamente, verás un mensaje como el siguiente, donde deberás
        presionar sobre
        "Activar ahora!".
    </h4>
    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FVerificarCuenta3.png?alt=media&token=8a756576-61a7-4f09-9ffa-69cf8996696f"
            alt="" />
    </div>
    <h4><strong>5.</strong> Recuerda que este enlace tiene una <strong>validez de 15 minutos</strong> desde su llegada.
    </h4>
    <h4><strong>6.</strong> Luego de presionar en el enlace, serás redirigido nuevamente a la plataforma Talk2gether,
        donde comenzará el
        proceso de verificación.</h4>
    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FVerificarCuenta4.png?alt=media&token=b33da047-ed6d-4211-906f-007fc1e76f51"
            alt="" />
    </div>
    <h4><strong>7.</strong> Luego de finalizado el proceso de verificación, verás la siguiente pantalla de confirmación.
    </h4>
    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FVerificarCuenta5.png?alt=media&token=ed5c91cb-d917-48c0-aaf0-f95bb16d036d"
            alt="" />
    </div>
    <h4><strong>8.</strong>¡LISTO! Has finalizado el proceso de verificación y ya puedes comenzar a utilizar
        Talk2gether.</h4>
    <br>
    <br>
    <br>