<div class="vertical-pf">
    <h1>Registro</h1>
    <h4><strong>1.</strong> Presiona en el botón "Registrarme" que se encuetra a continuación o dirígete a la pantalla
        de registro.</h4>
    <div class="container-pf">
        <button class="boton-pf grande" (click)="redirigirRegistro()">Registrarme</button>
    </div>
    <h4><strong>2.</strong> Tendrás que completar todos los datos como se muestra en la pantalla.</h4>
    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2Fregistro3.png?alt=media&token=8e36bb43-9643-4e80-a507-6f1204a79a0b"
            alt="" />
    </div>
    <h4><strong>3.</strong> Si tienes algún error se mostrará un mensaje en pantalla, sino continúa que vas bien!</h4>
    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2Fregistro2.png?alt=media&token=dc6447c8-3f33-4105-9a8d-69f4d17e0200"
            alt="" />
    </div>
    <h4><strong>4.</strong> Para poder presionar el botón "Siguiente" deberás completar todos los campos correctamente.
    </h4>
    <h4><strong>5.</strong> Si todos los campos fueron completados correctamente pasarás a la siguiente pantalla. Solo
        tendrás que llenar
        algunos datos más.</h4>
    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2Fregistro3.png?alt=media&token=8e36bb43-9643-4e80-a507-6f1204a79a0b"
            alt="" />
    </div>
    <h4><strong>6.</strong> En la foto de perfil deberás subir una foto tuya.</h4>
    <h4><strong>7.</strong> Presiona en "Seleccionar archivo" y selecciona en tu dispositivo la foto que quieras subir.
    </h4>
    <h4><strong>8.</strong> Luego de completar todos los datos de la segunda pantalla presiona en "Regístrate".</h4>
    <h4><strong>9.</strong> Ahora tendrás que <a href="/ayuda/verificarCuenta" target="_blank"
            rel="noopener noreferrer">verificar tu
            cuenta</a>.</h4>
    <br>
    <br>
    <br>
</div>