<div class="modal-content-interes">
  <div class="modal-header">
    <button type="button" class="btn btn-link animation-button" (click)="dismissModal()">
      <i class="far fa-times-circle"></i>
    </button>
  </div>
  <form [formGroup]="rolForm" (ngSubmit)="enviarDatos()" class="formulario-orden">
    <h2 class="estilo-letra-h2">Modificar Rol</h2>
    <div class="padding">
      <div class="estilo-letra">
        <label for="rol">Rol*</label>
      </div>
      <div class="estilo-letra">
        <input type="text" id="rol" formControlName="rol" placeholder="Ingresá el rol" required />
      </div>
      <div *ngIf="rolForm.get('rol').invalid && submitForm">
        <div *ngIf="rolForm.get('rol').hasError('required') && submitForm" class="text-error">El rol es requerido</div>
        <div class="text-error" *ngIf="rolForm.get('rol').errors?.['soloLetras']">Solo se permiten letras y espacios.
        </div>
      </div>

      <div class="botones">
        <div type="button" class="botones-volver estilo-letra animation-button" type="button" (click)="dismissModal()">
          Volver</div>
        <button class="botones-submit estilo-letra animation-button" type="submit">Confirmar</button>
      </div>
    </div>
  </form>
</div>