<div class="vertical-pf">
    <h1>Referir Amigos</h1>
    <h4><strong>1.</strong> Inicia sesión y se te redirigirá a la página de inicio.</h4>
    <h4><strong>2.</strong> Si ya iniciaste sesión y te encuetras en otra pantalla solo presiona el ícono de
        Talk2gether.</h4>
    <h4><strong>3.</strong> Si usaste cualquiera de las dos opciones anteriores, te encontrarás en la siguiente
        pantalla.</h4>
    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FCrearSala1.png?alt=media&token=a9d3830a-0b30-4e46-88f8-82c41ca1e02c"
            alt="" />
    </div>
    <h4><strong>4.</strong> Tendrás que presionar el botón de "Invita amigos" ubicado en el menú de navegación, como
        muestra la siguiente
        imagen.</h4>
    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FReferirAmigos2.png?alt=media&token=8ce39fb2-a6bd-4920-9c2b-70a8e8a45e25"
            alt="" />
    </div>
    <h4><strong>5.</strong> Luego de seleccionar el botón, se abrirá un pop-up como muestra la siguiente imagen. Deberás
        seleccionar el
        botón de copiar, indicado con la flecha de color rojo.</h4>
    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FReferirAmigos3.png?alt=media&token=f387d06e-f63e-4b4b-9abc-982ab39dc145"
            alt="" />
    </div>
    <h4><strong>6.</strong> Luego de seleccionar el botón, el link ya fue copiado.</h4>
    <h4><strong>7.</strong> Envíale el link a cualquiera de tus amigos para que pueda registrarse.</h4>
    <h4>¡LISTO! Si tu amigo se registra sumarás puntos y cumplirás logros.</h4>
    <br>
    <br>
    <br>
</div>