/*Definición variables*/


/* Colores */
$color-base: aliceblue;
$color-principal: #2b6a78;
$color-background-home: #8CD1E9;
$color-message-error: #ff9234;

$color-button-submit: #199de8;
$color-border: #ccc;

$color-black: black;
$color-white: white;

$color-letter-button: #fff;

/* Fuentes */
$font-family: Poppins;

/* Propiedades personalizadas */
$border-radius-containers: 2rem;
$border-radius-input: 1.5rem