<ng-container *ngIf="parametersList$ | async as parameter">
  <div class="container register-user-step-2">
    <div class="row">
      <!-- Primera columna del registro paso 2 -->
      <div class="col-md-6 register-user-step-2__column">
        <form [formGroup]="registerForm">
          <!-- Campo para "País" -->
          <div class="register-user-step-2__column__field">
            <label class="register-user-step-2__column__field__title"
              for="name">{{common_register.register_step_2.country_label}}</label>
            <select class="form-select" formControlName="country" id="country" (click)="validateCountry()">
              <option value="" disabled selected>{{common_register.register_step_2.country_select}}</option>
              <option *ngFor="let country of parameter.countryList" [value]="country">{{ country }}</option>
            </select>
            <ng-container *ngIf="notCountry && registerForm.get('country').touched">
              <p class="text-error">
                {{common_register.register_step_2.error.must_complete}}
              </p>
            </ng-container>
          </div>
          <!-- Fin campo para "Nombre" -->

          <!-- Campo para "Idioma Nativo" -->
          <div class="register-user-step-2__column__field">
            <label class="register-user-step-2__column__field__title"
              for="name">{{common_register.register_step_2.native_language_label}}</label>
            <select class="form-select" formControlName="nativeLanguage" id="nativeLanguage"
              (click)="validateNativeLanguage()">
              <option value="" disabled selected>{{common_register.register_step_2.native_language_select}}</option>
              <option *ngFor="let nativeLanguage of parameter.languageList" [value]="nativeLanguage">{{ nativeLanguage
                }}</option>
            </select>
            <ng-container *ngIf="notNativeLanguage && registerForm.get('nativeLanguage').touched">
              <p class="text-error">
                {{common_register.register_step_2.error.must_complete}}
              </p>
            </ng-container>
          </div>
          <!-- Fin campo para "Idioma Nativo" -->

          <!-- Campo para "Foto de perfil" -->
          <div class="register-user-step-2__column__field">
            <label class="register-user-step-2__column__field__title"
              for="password">{{common_register.register_step_2.photo_label}}</label>
            <input type="file" id="file" accept={{imageFormat}} class="form-control" formControlName="urlPhoto"
              (change)="onFileSelected($event)">
            <ng-container
              *ngIf="registerForm.get('urlPhoto').hasError('required') && registerForm.get('urlPhoto').touched">
              <p class="text-error">
                {{common_register.register_step_2.error.must_photo}}
              </p>
            </ng-container>
            <ng-container *ngIf="registerForm.get('urlPhoto').hasError('formato')">
              <p class="text-error">
                {{common_register.register_step_2.error.valid_photo}}{{imageFormat.imagePermittedFormat}}
              </p>
            </ng-container>
            <ng-container
              *ngIf="registerForm.get('urlPhoto').hasError('invalidSize') && registerForm.get('urlPhoto').touched">
              <p class="text-error">
                {{common_register.register_step_2.error.limit_size_photo}}
              </p>
            </ng-container>
          </div>
          <!-- Fin campo para "Foto de perfil" -->

          <!-- Campo para "Descripción" -->
          <div class="register-user-step-2__column__field">
            <label class="register-user-step-2__column__field__title"
              for="name">{{common_register.register_step_2.description_label}}</label>
            <textarea class="form-control" id="descriptionUser" formControlName="descriptionUser"></textarea>
            <div *ngIf="registerForm.get('descriptionUser').hasError('maxlength')">
              <p class="text-error">
                {{common_register.register_step_2.error.max_description_character}}
              </p>
            </div>
          </div>
          <!-- Fin campo para "Foto de perfil" -->

          <!-- Campo para "Terminos y condiciones" -->
          <div class="register-user-step-2__column__field">
            <input type="checkbox" id="checkBox" formControlName="terms" (change)="updateCheckbox()">
            <label for="checkBox" class="register-user-step-2__column__field__terms" id="terms">
              <a (click)="redirectTerms()">{{common_register.register_step_2.terms_label}}</a>
            </label>
            <ng-container *ngIf="notCheckBox && registerForm.get('terms').touched">
              <p class="text-error">
                {{common_register.register_step_2.error.must_term}}
              </p>
            </ng-container>
          </div>
          <!-- Fin campo para "Terminos y condiciones" -->
        </form>

      </div>
      <!-- Fin columna del registro paso 2-->

      <!-- Segunda columna del registro paso 2-->
      <div class="col-md-6 register-user-step-2__column">
        <form [formGroup]="registerForm">
          <!-- Campo para "Idioma a aprender" -->
          <div class="register-user-step-2__column__field">
            <label class="register-user-step-2__column__field__title"
              for="name">{{common_register.register_step_2.learn_language_label}}</label>
            <select class="form-select" formControlName="learnLanguage" id="learnLanguage"
              (click)="validateLearLanguage()">
              <option value="" disabled selected>{{common_register.register_step_2.learn_language_select}}</option>
              <option *ngFor="let learnLanguage of parameter.languageList" [value]="learnLanguage">{{ learnLanguage }}
              </option>
            </select>
            <ng-container *ngIf="notLearnLanguage && registerForm.get('learnLanguage').touched">
              <p class="text-error">
                {{common_register.register_step_2.error.must_complete}}
              </p>
            </ng-container>
          </div>
          <!-- Fin campo para "Idioma a aprender" -->

          <!-- Campo para "Nivel de idioma" -->
          <div class="register-user-step-2__column__field">
            <label class="register-user-step-2__column__field__title"
              for="languageLevel">{{common_register.register_step_2.language_level_label}}</label>
            <a class="register-user-step-2__column__field__icon" type="button" (click)="popUpLanguageLevel()"><i
                class="{{icon_class.info}}"></i></a>
            <div>
              <select class="form-select" formControlName="languageLevel" id="languageLevel"
                (click)="validateLanguageLevel()">
                <option value="" disabled selected>{{common_register.register_step_2.language_level_select}}</option>
                <option *ngFor="let languageLevel of parameter.languageLevelList" [value]="languageLevel">{{
                  languageLevel }}
                </option>
              </select>
              <ng-container *ngIf="notLanguageLevel && registerForm.get('languageLevel').touched">
                <p class="text-error">
                  {{common_register.register_step_2.error.must_complete}}
                </p>
              </ng-container>
            </div>
          </div>
          <!-- Fin campo para "Nivel de idioma" -->

          <!-- Campo para "Intereses" -->
          <div class="register-user-step-2__column__field register-user-step-2__column__field--interest">
            <label class="register-user-step-2__column__field__title"
              for="password">{{common_register.register_step_2.interest_label}}</label>
            <!-- Botón para seleccionar intereses -->
            <button type="button" class="btn btn-light" data-toggle="modal" (click)="openModal()">
              <div class="register-user-step-2__column__field--interest__show">
                <ng-container *ngIf="interestList.length > 0; else emptyInterest">
                  <div *ngFor="let interest of interestList; let i = index">
                    <span *ngIf="interestList[i-1]">, </span>
                    <span>{{interest.name}}</span>
                  </div>
                </ng-container>
                <ng-template #emptyInterest>
                  <span>{{common_register.register_step_2.interest_empty_label}}</span>
                </ng-template>
              </div>
            </button>
            <ng-container *ngIf="interestList.length == 0 && registerForm.get('interest').touched">
              <p class="text-error">
                {{common_register.register_step_2.error.must_interest}}
              </p>
            </ng-container>
          </div>
          <!-- Fin campo para "Intereses" -->

        </form>
      </div>
      <!-- Fin columna del registro paso 2-->

      <!-- Botones -->
      <div class="d-flex register-user-step-2__buttons">
        <button class="btn btn-primary register-user-step-2__buttons__back animation-button" type="submit"
          (click)="back()">
          {{common_register.register_step_2.button_prev}}</button>
        <div class="ms-auto">
          <button type="submit" class="btn btn-primary register-user-step-2__buttons__next animation-button"
            [disabled]="registerForm.invalid || unabledRegister" (click)="registerUser()">
            {{common_register.register_step_2.button_next}}</button>
        </div>
      </div>
      <!-- Fin botones -->
    </div>

  </div>
</ng-container>