<div class="container register-user-step-2">
  <div class="row">
    <div class="col-md-6 register-user-step-2__column">

      <form [formGroup]="registroForm">
        <div class="register-user-step-2__column__field">
          <label class="register-user-step-2__column__field__title"
            for="name">{{common_register.register_step_2.country_label}}</label>
          <div>
            <select class="form-select" formControlName="pais" id="pais" style="font-family: Poppins; color: black;"
              (click)="validarPais()">
              <option value="" disabled selected>{{common_register.register_step_2.country_select}}</option>
              <option *ngFor="let pais of listaPaises" [value]="pais">{{ pais }}</option>
            </select>
            <div *ngIf="paisVacio && registroForm.get('pais').touched">
              <p class="text-error">
                {{common_register.register_step_2.error.must_complete}}
              </p>
            </div>

          </div>
        </div>

        <div class="register-user-step-2__column__field">
          <label class="register-user-step-2__column__field__title" for="name">Idioma Nativo*</label>
          <div>
            <select class="form-select" formControlName="idiomaNativo" id="idiomaNativo"
              style="font-family: Poppins; color: black;" (click)="validarIdiomaNativo()">
              <option value="" disabled selected>Selecciona tu idioma nativo</option>
              <option *ngFor="let idiomaNativo of listaIdiomas" [value]="idiomaNativo">{{ idiomaNativo }}</option>
            </select>
            <div *ngIf="idiomaNativoVacio && registroForm.get('idiomaNativo').touched">
              <p class="text-error">
                Este campo es obligatorio.
              </p>
            </div>
          </div>
        </div>

        <div class="register-user-step-2__column__field">
          <label class="register-user-step-2__column__field__title" for="password">Foto de Perfil*</label>
          <div>
            <input type="file" id="file" accept="image/jpg, image/jpeg, image/png" class="form-control"
              formControlName="urlFoto" (change)="onFileSelected($event)">
            <div *ngIf="registroForm.get('urlFoto').hasError('required') && registroForm.get('urlFoto').touched">
              <p class="text-error">
                Debe subir una foto de perfil.
              </p>
            </div>
            <div *ngIf="registroForm.get('urlFoto').hasError('formato')">
              <p class="text-error">
                El formato del archivo seleccionado no es válido. Debe seleccionar una imagen con formato .jpg, .jpeg
                o .png
              </p>
            </div>
            <div *ngIf="registroForm.get('urlFoto').hasError('tamanioInvalido') && registroForm.get('urlFoto').touched">
              <p class="text-error">
                La foto de perfil no debe superar los 5MB.
              </p>
            </div>
          </div>
        </div>

        <div class="register-user-step-2__column__field">
          <label class="register-user-step-2__column__field__title" for="name">Cuéntanos un poco de ti</label>
          <div>
            <textarea class="form-control" id="descripcionUsuario" formControlName="descripcionUsuario"></textarea>
            <div *ngIf="registroForm.get('descripcionUsuario').hasError('maxlength')">
              <p class="text-error">
                Máximo 200 caracteres.
              </p>
            </div>
          </div>
        </div>

        <div class="register-user-step-2__column__field">
          <input type="checkbox" id="checkBox" formControlName="terminos" (change)="modificarCheckbox()">
          <label for="checkBox" id="Terminos" style="padding-left: 2%;" (click)="modificarCheckbox()">Acepto los <a
              href="/terminos-y-condiciones" target="_blank" (click)="modificarCheckbox()">términos y
              condiciones*</a></label>
          <div *ngIf="checkBoxDesmarcado && registroForm.get('terminos').touched">
            <p class="text-error">
              Debe aceptar los términos y condiciones.
            </p>
          </div>
        </div>
      </form>

    </div>
    <div class="col-md-6 register-user-step-2__column">
      <form [formGroup]="registroForm">
        <div class="register-user-step-2__column__field">
          <label class="register-user-step-2__column__field__title" for="name">Idioma a aprender*</label>
          <div>
            <select class="form-select" formControlName="idiomaAprendiz" id="idiomaAprendiz"
              style="font-family: Poppins; color: black;" (click)="validarIdiomaAprendiz()">
              <option value="" disabled selected>Selecciona su idioma a aprender</option>
              <option *ngFor="let idiomaAprendiz of listaIdiomas" [value]="idiomaAprendiz">{{ idiomaAprendiz }}
              </option>
            </select>
            <div *ngIf="idiomaAprendizVacio && registroForm.get('idiomaAprendiz').touched">
              <p class="text-error">
                Este campo es obligatorio.
              </p>
            </div>
          </div>
        </div>

        <div class="register-user-step-2__column__field">
          <label class="register-user-step-2__column__field__title" for="name">Nivel de idioma*</label>
          <a type="button" (click)="popUpNivelIdioma()" style="margin-left: 5px;"><i class="fa-solid fa-circle-info"
              style="color: #ffffff; font-size: 22px; margin-left: 3%;"></i></a>
          <div>
            <select class="form-select" formControlName="nivelIdioma" id="nivelIdioma"
              style="font-family: Poppins; color: black;" (click)="validarNivelIdioma()">
              <option value="" disabled selected>Selecciona su nivel de idioma</option>
              <option *ngFor="let nivelIdioma of listaNivelesIdiomas" [value]="nivelIdioma">{{ nivelIdioma }}</option>
            </select>
            <div *ngIf="nivelIdiomaVacio && registroForm.get('nivelIdioma').touched">
              <p class="text-error">
                Este campo es obligatorio.
              </p>
            </div>
          </div>
        </div>

        <div class="register-user-step-2__column__field intereses-items">
          <label class="register-user-step-2__column__field__title" for="password">Intereses*</label>
          <!-- Botón para seleccionar intereses -->
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal"
            (click)="openModal()">
            <div class="intereses-items__show">
              <ng-container *ngIf="intereses.length > 0; else interesesVacio">
                <div *ngFor="let interes of intereses; let i = index">
                  <span *ngIf="intereses[i-1]">, </span>
                  <span>{{interes.name}}</span>
                </div>
              </ng-container>
              <ng-template #interesesVacio>
                <span>Intereses</span>
              </ng-template>
            </div>
            <span>{{intereses.length}}/5</span>
          </button>
          <div *ngIf="intereses.length == 0 && registroForm.get('intereses').touched">
            <p class="text-error">
              Debe seleccionar al menos un interés.
            </p>
          </div>
        </div>

      </form>
    </div>

    <div class="d-flex" style="padding-bottom: 3%; padding-left: 4%; padding-right: 4%;">
      <div>
        <button id="boton-volver" type="submit" class="btn btn-primary" (click)="volver()">Volver</button>
      </div>

      <div class="ms-auto">
        <button id="boton-siguiente" type="submit" class="btn btn-primary"
          [disabled]="registroForm.invalid || registroDeshabilitado" (click)="registrarUsuario()">Regístrate</button>
      </div>
    </div>

  </div>

</div>