<ng-container *ngIf="this.isPermisosCargados$ | async">
  <div class="modal-content-interes">
    <div class="modal-header">
      <!-- <button type="button" class="btn btn-link" (click)="dismissModal()">
          <i class="far fa-times-circle animation-button"></i>
        </button> -->
    </div>
    <form [formGroup]="permisosForm" (ngSubmit)="enviarDatos()" class="formulario-orden">
      <div class="estilo-letra-h2">Asignación de permisos</div>
      <div class="padding">
        <div class="estilo-letra">
          <div class="horizontal">
            <label>Ruta:</label>
            <label class="letra-dato-info">{{ruta}}</label>
          </div>
        </div>
        <div class="estilo-letra">
          <div class="vertical">
            <div class="horizontal">
              <label>Roles:</label>
              <label class="letra-dato-info">{{permisosActuales}}</label>
            </div>
            <label class="letra-dato">Recuerde que tiene un impacto significativo en la plataforma</label>
          </div>
        </div>
        <ng-select [items]="rolesAct" bindLabel="listaNombreMotivo" [multiple]="true"
          placeholder="Seleccione los roles..." formControlName="roles">
        </ng-select>
      </div>
      <div class="botones">
        <div type="button" class="botones-volver estilo-letra animation-button" type="button" (click)="dismissModal()">
          Cancelar
        </div>
        <button class="botones-submit estilo-letra animation-button" type="submit">Aceptar</button>
      </div>
    </form>
  </div>
</ng-container>