
    <div class="container">
        <div class="d-flex" style="margin-top:2%;  padding-left: 5%; padding-right: 5%;">
            <div>
                <h2>{{common_register.terms_and_conditions.terms_and_conditions_title}}</h2>
            </div>
            <div class="ms-auto" style="align-items: center;">
                <a type="button" (click)="cerrar()"><i class="fa-regular fa-circle-xmark"
                        style="color: #ffffff; font-size: 30px; margin-top: 70%;"></i></a>
            </div>
        </div>

        <div style="padding-bottom: 3%; padding-left: 5%; padding-right: 5%; margin-top: -2.5%;">
            <h4>I. Introducción</h4>
            <p>
                Los siguientes términos y condiciones establecen los derechos y obligaciones de los usuarios al utilizar
                la plataforma
                Talk2gether, un sistema web diseñado para mejorar y ampliar las habilidades lingüísticas en diferentes
                idiomas
                mediante la interacción con hablantes nativos y estudiantes a través de videollamadas o chat.
                Al acceder y utilizar la plataforma, el usuario acepta cumplir con los siguientes términos y
                condiciones.
                Es importante leer detenidamente este documento antes de utilizar Talk2gether.
            </p>

            <h4>II. Objetivos del sistema</h4>
            <h5>1. Mejora y ampliación de habilidades lingüísticas</h5>
            <p>
                Talk2gether tiene como objetivo principal proporcionar a los usuarios un entorno en línea donde puedan
                mejorar
                y ampliar sus habilidades en un idioma determinado. Esto se logra a través de la interacción con
                hablantes nativos
                y estudiantes, quienes brindarán oportunidades para practicar el idioma mediante videollamadas o chat.
            </p>

            <h5>2. Comunicación estable e interfaz intuitiva</h5>
            <p>
                La plataforma Talk2gether se compromete a ofrecer a los usuarios un espacio de comunicación estable,
                con una interfaz intuitiva y de fácil navegación. Se busca proporcionar una experiencia fluida y
                agradable para los usuarios, fomentando así su participación y uso continuo de la plataforma.
            </p>

            <h5>3. Estadísticas y seguimiento del progreso</h5>
            <p>
                La plataforma ofrece estadísticas relevantes para cada usuario, permitiéndoles realizar un análisis
                y seguimiento de su progreso en el aprendizaje del idioma. Estas estadísticas incluyen información
                sobre el tiempo dedicado al estudio, el nivel de fluidez alcanzado, las habilidades lingüísticas m
                ejoradas y otros indicadores relevantes.
            </p>
            <h5>4. Generación de reportes para la toma de decisiones</h5>
            <p>
                Talk2gether genera reportes que contienen indicadores importantes para la toma de decisiones.
                Estos informes proporcionan información valiosa sobre el rendimiento de los usuarios, la calidad
                de las interacciones y otros datos relevantes que pueden ser utilizados para mejorar la plataforma
                y personalizar la experiencia de aprendizaje de cada usuario.
            </p>

            <h4>III. Responsabilidades y obligaciones del usuario</h4>
            <h5>1. Registro de cuenta</h5>
            <p>
                Para utilizar Talk2gether, el usuario debe registrarse y crear una cuenta personal. Es responsabilidad
                del usuario proporcionar información precisa y actualizada durante el proceso de registro. El usuario
                será el único responsable de mantener la confidencialidad de sus credenciales de inicio de sesión y
                de todas las actividades que ocurran bajo su cuenta.
            </p>

            <h5>2. Uso adecuado</h5>
            <p>
                El usuario se compromete a utilizar Talk2gether de acuerdo con los fines establecidos en estos términos
                y condiciones. Se prohíbe el uso de la plataforma para cualquier actividad ilegal, fraudulenta,
                difamatoria, ofensiva o que viole los derechos de terceros. El usuario acepta no utilizar la plataforma
                para enviar contenido inapropiado o no relacionado con el aprendizaje de idiomas.
            </p>

            <h5>3. Respeto y conducta adecuada</h5>
            <p>
                El usuario se compromete a mantener un comportamiento respetuoso y adecuado durante las interacciones
                con otros usuarios de Talk2gether. Se prohíbe cualquier forma de acoso, discriminación, insulto o
                comportamiento ofensivo. El usuario acepta ser responsable de su conducta y se compromete a no dañar
                la reputación de la plataforma o de otros usuarios.
            </p>

            <h5>4. Privacidad y protección de datos</h5>
            <p>
                Talk2gether se compromete a proteger la privacidad de los usuarios y a cumplir con las leyes y
                regulaciones de protección de datos aplicables. La plataforma recopilará y utilizará la información
                del usuario únicamente con fines relacionados con el funcionamiento de la plataforma y la mejora de
                la experiencia del usuario. Los detalles completos sobre la recopilación, el uso y la protección de
                datos se describen en la Política de Privacidad de Talk2gether.
            </p>

            <h4>IV. Limitaciones de responsabilidad</h4>
            <h5>1. Disponibilidad y funcionamiento de la plataforma</h5>
            <p>
                Talk2gether se esforzará por mantener la disponibilidad y el funcionamiento adecuado de la plataforma.
                Sin embargo, no se garantiza que la plataforma estará libre de interrupciones, errores o defectos.
                Talk2gether no será responsable de ninguna pérdida o daño causado por la falta de disponibilidad o el
                mal funcionamiento de la plataforma.
            </p>

            <h5>2. Contenido generado por los usuarios</h5>
            <p>
                La plataforma permite a los usuarios generar contenido, como mensajes de chat o interacciones en
                videollamadas. Talk2gether no se hace responsable del contenido generado por los usuarios y no
                asume ninguna responsabilidad por las opiniones, declaraciones o comportamientos de los usuarios.
                Cada usuario es el único responsable de su contenido y debe cumplir con las leyes y regulaciones
                aplicables.
            </p>

            <h5>3. Responsabilidad del aprendizaje del idioma</h5>
            <p>
                Talk2gether proporciona herramientas y oportunidades para mejorar y ampliar las habilidades
                lingüísticas,
                pero no garantiza resultados específicos en el aprendizaje del idioma. El usuario es responsable de su
                propio proceso de aprendizaje y de utilizar la plataforma de manera efectiva para alcanzar sus
                objetivos.
            </p>

            <h4>V. Modificaciones y terminación</h4>
            <h5>1. Modificaciones de los términos y condiciones</h5>
            <p>
                Talk2gether se reserva el derecho de realizar modificaciones en estos términos y condiciones en
                cualquier
                momento. Los usuarios serán notificados sobre cualquier cambio importante a través de la plataforma o
                por correo electrónico. El uso continuado de Talk2gether después de la notificación constituirá la
                aceptación de los nuevos términos y condiciones.
            </p>

            <h5>2. Terminación de la cuenta</h5>
            <p>
                Talk2gether puede, a su discreción, terminar o suspender la cuenta de un usuario en caso de
                incumplimiento
                de estos términos y condiciones o por cualquier otra razón justificada. En caso de terminación, el
                usuario
                perderá el acceso a la plataforma y a cualquier contenido o datos asociados con su cuenta.
            </p>

            <h4>VI. Disposiciones finales</h4>
            <p>
                Al utilizar Talk2gether, el usuario reconoce haber leído, comprendido y aceptado estos términos y
                condiciones en su totalidad.
            </p>

        </div>
    </div>