<div class="term-and-condition">
  <div class="term-and-condition__title">
    {{ common_register.terms_and_conditions.terms_and_conditions_title }}
    <div class="term-and-condition__title__icon">
      <a type="button" (click)="closeTermsAndConditions()"
        ><i class="{{ icon_class.x_close }}"></i
      ></a>
    </div>
  </div>
  <div class="term-and-condition__description">
    <h4>
      {{
        common_register.terms_and_conditions.terms_and_conditions_I
          .terms_and_conditions_I_title
      }}
    </h4>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_I
          .terms_and_conditions_I_description
      }}
    </p>

    <h4>
      {{
        common_register.terms_and_conditions.terms_and_conditions_II
          .terms_and_conditions_II_title
      }}
    </h4>
    <h5>
      {{
        common_register.terms_and_conditions.terms_and_conditions_II
          .terms_and_conditions_II_subtitle_1
      }}
    </h5>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_II
          .terms_and_conditions_II_description_1
      }}
    </p>
    <h5>
      {{
        common_register.terms_and_conditions.terms_and_conditions_II
          .terms_and_conditions_II_subtitle_2
      }}
    </h5>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_II
          .terms_and_conditions_II_description_2
      }}
    </p>
    <h5>
      {{
        common_register.terms_and_conditions.terms_and_conditions_II
          .terms_and_conditions_II_subtitle_3
      }}
    </h5>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_II
          .terms_and_conditions_II_description_3
      }}
    </p>
    <h5>
      {{
        common_register.terms_and_conditions.terms_and_conditions_II
          .terms_and_conditions_II_subtitle_4
      }}
    </h5>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_II
          .terms_and_conditions_II_description_4
      }}
    </p>
    <h4>
      {{
        common_register.terms_and_conditions.terms_and_conditions_III
          .terms_and_conditions_III_title
      }}
    </h4>
    <h5>
      {{
        common_register.terms_and_conditions.terms_and_conditions_III
          .terms_and_conditions_III_subtitle_1
      }}
    </h5>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_III
          .terms_and_conditions_III_description_1
      }}
    </p>
    <h5>
      {{
        common_register.terms_and_conditions.terms_and_conditions_III
          .terms_and_conditions_III_subtitle_2
      }}
    </h5>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_III
          .terms_and_conditions_III_description_2
      }}
    </p>
    <h5>
      {{
        common_register.terms_and_conditions.terms_and_conditions_III
          .terms_and_conditions_III_subtitle_3
      }}
    </h5>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_III
          .terms_and_conditions_III_description_3
      }}
    </p>
    <h5>
      {{
        common_register.terms_and_conditions.terms_and_conditions_III
          .terms_and_conditions_III_subtitle_4
      }}
    </h5>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_III
          .terms_and_conditions_III_description_4
      }}
    </p>

    <h4>
      {{
        common_register.terms_and_conditions.terms_and_conditions_IV
          .terms_and_conditions_IV_title
      }}
    </h4>
    <h5>
      {{
        common_register.terms_and_conditions.terms_and_conditions_IV
          .terms_and_conditions_IV_subtitle_1
      }}
    </h5>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_IV
          .terms_and_conditions_IV_description_1
      }}
    </p>
    <h5>
      {{
        common_register.terms_and_conditions.terms_and_conditions_IV
          .terms_and_conditions_IV_subtitle_2
      }}
    </h5>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_IV
          .terms_and_conditions_IV_description_2
      }}
    </p>
    <h5>
      {{
        common_register.terms_and_conditions.terms_and_conditions_IV
          .terms_and_conditions_IV_subtitle_3
      }}
    </h5>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_IV
          .terms_and_conditions_IV_description_3
      }}
    </p>

    <h4>
      {{
        common_register.terms_and_conditions.terms_and_conditions_V
          .terms_and_conditions_V_title
      }}
    </h4>
    <h5>
      {{
        common_register.terms_and_conditions.terms_and_conditions_V
          .terms_and_conditions_V_subtitle_1
      }}
    </h5>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_V
          .terms_and_conditions_V_description_1
      }}
    </p>
    <h5>
      {{
        common_register.terms_and_conditions.terms_and_conditions_V
          .terms_and_conditions_V_subtitle_2
      }}
    </h5>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_V
          .terms_and_conditions_V_description_2
      }}
    </p>
    <h4>
      {{
        common_register.terms_and_conditions.terms_and_conditions_VI
          .terms_and_conditions_VI_title
      }}
    </h4>
    <p>
      {{
        common_register.terms_and_conditions.terms_and_conditions_VI
          .terms_and_conditions_VI_description_1
      }}
    </p>
  </div>
</div>
