@import "../../../../../../assets/custom_scss/variables.scss";
.term-and-condition {
  background-color: $color-principal;
  border-radius: $border-radius-containers;
  margin: 6.6rem 3rem 2rem 3rem;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: $color-white;
    text-decoration: underline;
    font-size: 1.5rem;
    padding: 2rem;
    &__icon {
      display: flex;
      align-items: center;
      color: $color-icon-princial;
      font-size: 1.875rem;
    }
  }
  &__description {
    padding: 0 2rem 2rem 2rem;
    h4 {
      font-weight: bold;
      color: $color-white;
      text-decoration: underline;
    }

    h5 {
      padding-top: 1.5rem;
      font-weight: bold;
      color: $color-white;
    }

    p {
      text-align: justify;
      color: $color-white;
      font-size: 1.25rem;
    }
  }
}
