<div class="vertical-pf">
    <h1>Chat</h1>
    <h4>Para comenzar a chatear con otro usuario existen dos alternativas principales:</h4>
    <h4><strong>1.</strong> En la pantalla de inicio, deberás presionar sobre el ícono de Chat en la tarjeta del usuario
        con el que
        deseas hablar.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FChat1.png?alt=media&token=f88644b9-953a-4c83-9b84-bbf4548a5ab9"
            alt="" />
    </div>

    <h4><strong>2.</strong> Si te encuentras en el perfil del usuario con el que quieres hablar, deberás presionar sobre
        el botón de
        "Mensaje".</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FChat1b.png?alt=media&token=4c14a9fd-2141-4746-8986-3d7327173c7d"
            alt="" />
    </div>

    <h4><strong>3.</strong> En ambos casos, serás redirigido a la pantalla de chat, donde observarás un popup que te
        pedirá una
        confirmación para ingresar.</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FChat2.png?alt=media&token=ed660ff4-1704-4e8d-ac8b-733d0ce85898"
            alt="" />
    </div>

    <h4><strong>4.</strong> Al presionar en "Si, deseo chatear" ingresarás al chat con la persona seleccionada.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FChat3.png?alt=media&token=7c85251f-f037-446c-ae18-851f691a2250"
            alt="" />
    </div>

    <h4>Además, es posible ingresar al chat desde la barra de navegación de la plataforma, presionando sobre el ícono de
        chat.</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FChat7.png?alt=media&token=fc59f218-d78b-4a42-a621-ac1f09cc03d1"
            alt="" />
    </div>

    <h4>Al ingresar de esta manera, no entrarás al chat personal con ningún usuario en particular, sino que deberás
        seleccionarlo.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FChat8.png?alt=media&token=a6b823ae-4f4f-4a6c-8802-a09b3afab0ad"
            alt="" />
    </div>

    <h4>En la columna izquierda se encuentra el historial de chats que has tenido.</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FChat4.png?alt=media&token=8b37955e-9bae-42b2-a94f-507f6dc03081"
            alt="" />
    </div>

    <h4>Y si cambias a la pestaña de la derecha en dicha columna, podrás encontrar a todos los usuarios registrados en
        la plataforma.</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FChat6.png?alt=media&token=7fc14627-ee89-448f-a807-4a4212cca813"
            alt="" />
    </div>

    <h4>Los mensajes se envían con el ícono azul o presionando la tecla "Enter" en tu teclado.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FChat9.png?alt=media&token=13dbf538-2fa6-4c5d-9397-dc5e8d25280b"
            alt="" />
    </div>

    <h4>También puedes utilizar una amplia variedad de emojis.</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FChat5.png?alt=media&token=8ad4b688-63c2-4c7b-8f52-b5d9d1e5ffc0"
            alt="" />
    </div>

    <h4><strong>Importante:</strong> Cuando el ícono del chat en la barra de navegación esté acompañado de un número
        significa que tienes
        mensajes nuevos sin leer.</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FChat10.png?alt=media&token=5072025c-f31f-4a3a-b05e-b21238498bc5"
            alt="" />
    </div>

    <h4>¡Listo! Ya puedes chatear con la persona que quieras. Recuerda siempre ser amable y respetar las reglas de
        <strong>Talk2gether</strong>.
    </h4>
    <br>
    <br>
    <br>
</div>