<div class="vertical-pf">
    <h1>Editar perfil</h1>
    <h4><strong>1.</strong> Para editar tu perfil debes acceder a la <strong>pantalla de configuración</strong>.</h4>

    <h4><strong>2.</strong> Debes presionar tu foto de perfil en la esquina superior derecha. En el menú desplegable,
        deberás seleccionar
        la opción de "Configuración".</h4>

    <div class="container-pf">
        <img style="border: solid black 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FMenuConfiguracion.png?alt=media&token=a6b237d7-d88f-4b30-b6df-ccbfcb9f8962"
            alt="" />
    </div>

    <h4><strong>3.</strong> Allí podrás visualizar la información actual de tu perfil, la cual podrás cambiar
        presionando sobre el botón
        de "Editar mis datos".
    </h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FEditarUsuario1.png?alt=media&token=4dfd626c-54a3-4065-af87-402cf19796db"
            alt="" />
    </div>

    <h4 style="margin-bottom: 0;"><strong>4.</strong> Serás redirigido a la pantalla de editar perfil, donde podrás
        modificar:
    </h4>

    <ul>
        <li>
            <h4>Nombre</h4>
        </li>
        <li>
            <h4>Apellido</h4>
        </li>
        <li>
            <h4>Foto de perfil</h4>
        </li>
        <li>
            <h4>Descripción</h4>
        </li>
        <li>
            <h4>Fecha de nacimiento</h4>
        </li>
        <li>
            <h4>País</h4>
        </li>
        <li>
            <h4>Intereses</h4>
        </li>
        <li>
            <h4>Idioma Nativo</h4>
        </li>
        <li>
            <h4>Idioma a aprender</h4>
        </li>
        <li>
            <h4>Nivel de idioma</h4>
        </li>
    </ul>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FEditarUsuario2.png?alt=media&token=17ff0965-fb0b-4303-b623-a3d446b102fd"
            alt="" />
    </div>

    <h4><strong>5.</strong> Luego de modificar alguno de tus datos y presionar sobre "Guardar cambios", serás redirigido
        nuevamente a la
        pantalla de Configuración y verás un mensaje de éxito en la esquina superior derecha.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FEditarUsuario3.png?alt=media&token=7c391c94-2696-45cf-bd24-f8c50f0e44f6"
            alt="" />
    </div>

    <h4>Sólo podras presionar sobre "Guardar cambios" si efectivamente has hecho algún cambio en tus datos personales.
    </h4>
    <br>
    <br>
    <br>
</div>