<div class="container">
    <div class="d-flex justify-content-center flex-column align-items-center">
        <div class="icono">
            <i class="fa-solid fa-check" id="icono"></i>
        </div>
        <div class="mensaje">
            <h2>Su cuenta ha sido eliminada correctamente</h2>
        </div>
        <div class="boton">
            <button id="boton" class="btn btn-primary" (click)="irPaginaBienvenida()">Ir a la página de
                bienvenida</button>
        </div>
    </div>
</div>