<body>
  <div class="container">
    <div class="d-flex justify-content-center flex-column align-items-center">
      <div class="icono">
        <i class="fa-solid fa-envelope" id="icono"></i>
      </div>
      <div class="mensaje">
        <h2>Revise su correo electrónico para verificar su cuenta</h2>
      </div>
      <div class="boton">
        <button id="boton" type="submit" class="btn btn-primary" (click)="reenviarCorreo()">Reenviar correo</button>
      </div>
    </div>
  </div>
</body>