<div class="posicion-general">
  <div class="separacion-tabla-boton">
    <div class="tabla-scroll">
      <table class="table table-borderer table-bordered table-striped table-hover">
        <thead>
          <tr class="table-color">
            <th scope="col">#</th>
            <th scope="col">Idiomas</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let idioma of idiomaList ; let i = index">
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{idioma.nombreIdioma}}</td>
              <td>
                <div class="iconos-orden-tabla">
                  <ng-container *ngIf="idioma.fechaHoraFinVigenciaIdioma==null">
                    <div type="button" (click)="desHabilitarIdioma(idioma.id, idioma.nombreIdioma)" ata-toggle="tooltip"
                      title="Deshabilitar">
                      <i class="fa-solid fa-circle-xmark animation-button"></i>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="idioma.fechaHoraFinVigenciaIdioma!=null">
                    <div type="button" ata-toggle="tooltip" title="Editar"
                      (click)="modificarIdioma(idioma.id, idioma.nombreIdioma)">
                      <i class="fa-solid fa-pencil animation-button"></i>
                    </div>
                    <div type="button" (click)="habilitarIdioma(idioma.id, idioma.nombreIdioma)" ata-toggle="tooltip"
                      title="Habilitar">
                      <i class="fa-solid fa-circle-check animation-button"></i>
                    </div>
                  </ng-container>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="button-right">
      <div type="button" class="button-general-anadir animation-button" (click)="aniadirIdioma()">Añadir idioma</div>
    </div>
  </div>
</div>