<div class="vertical-pf">
    <h1>Unirse a videollamada</h1>
    <h4><strong>1.</strong> Inicia sesión y se te redirigirá a la página de inicio.</h4>

    <h4><strong>2.</strong> Si ya iniciaste sesión y te encuetras en otra pantalla solo presiona el ícono de
        Talk2gether.</h4>

    <h4><strong>3.</strong> Si usaste cualquiera de las dos opciones anteriores, te encontrarás en la siguiente
        pantalla.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FBuscarUsuario1.png?alt=media&token=b09cc29d-bd01-4d0c-a221-5df51670506c"
            alt="" />
    </div>

    <h4><strong>4.</strong> Elige con qué persona deseas hablar y presiona sobre el ícono <i class="fa-solid fa-video"
            style="color: #2b6a78;"></i> en su tarjeta.</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FUnirseVideollamada1.png?alt=media&token=18dc4b72-4456-4398-8e10-d11e39c2f084"
            alt="" />
    </div>

    <h4><strong>5.</strong> Al presionar en "Continuar" ingresarás a la sala de videollamada donde se encuentra la
        persona seleccionada.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FUnirseVideollamada2.png?alt=media&token=55851bbf-d0d2-4372-8634-700a89902815"
            alt="" />
    </div>

    <h4>Dentro de las videollamadas tienes los botones para:</h4>
    <ul>
        <li>
            <h4>Activar/desactivar micrófono</h4>
        </li>
        <li>
            <h4>Activar/desactivar cárama web</h4>
        </li>
        <li>
            <h4>Transmitir pantalla</h4>
        </li>
        <li>
            <h4>Chatear</h4>
        </li>
        <li>
            <h4>Acceder a la configuración de videollamada</h4>
        </li>
        <li>
            <h4>Finalizar videollamada</h4>
        </li>
    </ul>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FUnirseVideollamada3.png?alt=media&token=4224850f-21a4-46fc-b286-ef5e242dd909"
            alt="" />
    </div>

    <h4><strong>Importante:</strong> El chat que se encuentra dentro de las videollamdas sólo se guarda durante la
        reunión actual. No se
        guarda un historial para futuras reuniones.</h4>

    <h4><strong>6. Finalizar videollamada:</strong> Al presionar en el botón rojo de finalizar videollamada, se cerrará
        la reunión para ambas personas, serán redirigidos a la pantalla principal de Talk2gether y podrán calificarse
        mutuamente:</h4>

    <div class="container-pf">
        <img style="border: black solid 1px;"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FUnirseVideollamada4.png?alt=media&token=3b8262e0-cd2b-4272-aa7e-3f99d8220eb8"
            alt="" />
    </div>

    <h4>Si presionas sobre el nombre de usuario, se abrirá en una nueva pestaña el perfil del usuario.</h4>

    <h4>7. Al presionar "Calificar" se cerrará el popup y verás un mensaje de confirmación.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FUnirseVideollamada5.png?alt=media&token=0adbbaa7-8ec1-4114-9b5f-14c60a2b9411"
            alt="" />
    </div>

    <h4>Recuerda que si prefieres no calificar, puedes cerrar el popup desde la cruz ubicada en la
        esquina superior derecha.</h4>

    <br>
    <br>
    <br>
</div>