@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./assets/custom_scss/variables.scss";

/** Estilos generales**/
html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  font-family: $font-family;
  font-size: 1rem;
  background-color: $color-base;
  color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-black;
  margin: 0;
}

/* Definición de clase básica para los errores de formularios */
.text-error {
  color: $color-message-error;
  font-weight: bold;
  font-size: 0.9375rem;
}

/* Definición de clase básica de animación de los botones */
.animation-button {
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}


















.modal {
  z-index: 1060 !important;
}

.modal-dialog {
  max-width: 950px !important;
}

.modal-content {
  border-radius: 20px !important;
}



app-side-bar-ayuda {
  position: relative;
  top: 150px;
}

app-visualizar-perfil {
  position: absolute;
  z-index: 1;
}

app-principal {
  background-color: aliceblue !important;
}

app-dashboard-administrador {
  display: flex;
  height: 100vh;
}


.swiper-container {
  width: 100%;
  height: 300px;
  margin: 50px auto;
}

.swiper-slide {
  background: #f1f1f1;
  color: #000;
  text-align: center;
  line-height: 300px;
  width: 450px !important;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}




.horizontal-pf {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  align-items: center;
}

.vertical-pf {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
}

.img-pf {
  width: 55vw;
  border: 1px solid black;
}

.boton-pf {
  background-color: #199DE8;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  max-width: 350px;
  border: 1px solid transparent !important;
}

.container-pf {
  display: flex;
  justify-content: center;
  align-items: center;
}