// @import 'bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";

/*Definición variables*/

:root {
  /* Colores */
  --color-base: aliceblue;
  --color-principal: #2b6a78;
  --color-message-error: #ff9234;

  --color-button-submit: #199de8;
  --color-border: #ccc;

  --color-black: black;
  --color-white: white;

  --color-letter-button: #fff;

  /* Fuentes */
  --font-family: Poppins;

  /* Propiedades personalizadas */
  --border-radius-containers: 2rem;
  --border-radius-input: 1.5rem

}

/** Estilos generales**/
html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  font-size: 1.5rem;
  background-color: var(--color-base);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}


.text-error {
  color: var(--color-message-error);
  font-weight: bold;
  font-size: 1.5rem;
}

.animation-button{
  display: inline-block;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.animation-button:hover{
  transform: scale(1.1);
}


/* Selectores separados del navbar */
app-login,
app-home-page {
  position: absolute;
  top: 10.05rem;
}















.modal {
  z-index: 1060 !important;
}

.modal-dialog {
  max-width: 950px !important;
}

.modal-content {
  border-radius: 20px !important;
}



app-side-bar-ayuda {
  position: relative;
  top: 150px;
}

app-visualizar-perfil {
  position: absolute;
  z-index: 1;
}

app-principal {
  background-color: aliceblue !important;
}

app-dashboard-administrador {
  display: flex;
  height: 100vh;
}


.swiper-container {
  width: 100%;
  height: 300px;
  margin: 50px auto;
}

.swiper-slide {
  background: #f1f1f1;
  color: #000;
  text-align: center;
  line-height: 300px;
  width: 450px !important;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}




.horizontal-pf {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  align-items: center;
}

.vertical-pf {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
}

.img-pf {
  width: 55vw;
  border: 1px solid black;
}

.boton-pf {
  background-color: #199DE8;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  max-width: 350px;
  border: 1px solid transparent !important;
}

.container-pf {
  display: flex;
  justify-content: center;
  align-items: center;
}