<div class="vertical-pf">
    <h1>Crear Sala</h1>
    <h4><strong>1.</strong> Inicia sesión y serás redirigido a la página de inicio donde podrás crear las salas.</h4>

    <h4><strong>2.</strong> Si ya iniciaste sesión y te encuetras en otra pantalla solo selecciona el icono de
        Talk2gether.</h4>

    <h4><strong>3.</strong> Si usaste cualquiera de las dos opciones anteriores, te encontrarás en la siguiente
        pantalla.</h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FCrearSala1.png?alt=media&token=57d0c4eb-2a4c-4481-89d5-7c66dd1c4a8e"
            alt="" />
    </div>

    <h4><strong>4.</strong> Tendrás que presionar el botón "Crear sala", y aparecerá el siguiente popup de confirmación.
    </h4>

    <div class="container-pf">
        <img src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FCrearSala2.png?alt=media&token=e9453183-f9b6-41a8-bbfe-f56a88cb09bc"
            alt="" />
    </div>

    <h4><strong>5.</strong> Si seleccionas el botón confirmar serás redirigido a la pantalla de videollamada. </h4>

    <div class="container-pf">
        <img class="img-pf"
            src="https://firebasestorage.googleapis.com/v0/b/talk2gether-a8b61.appspot.com/o/images-ayuda%2FCrearSala3.png?alt=media&token=1d48eeac-6351-4ac8-b959-db1bd000e0b1"
            alt="" />
    </div>

    <h4>¡LISTO! Ya tienes la sala creada. Ahora sólo debes esperar a que otro aprendiz ingrese para dialogar.</h4>
    <h4>Recuerda que los demás usuarios te buscarán de acuerdo a los idiomas que hablas y a tus intereses.</h4>
    <br>
    <br>
    <br>
</div>