<div class="contenido-principal conteiner">
  <div class="row align-items-start m-0">
    <div class="col">
      <h1>Aprende idiomas con Talk2gether</h1>
      <h2>Conectate con personas de todo el mundo 
        y aprende su idioma y cultura.</h2>
    </div>
    <div class="imagen">
      <img src="../../../assets/p1.jpeg" alt="Descripción de la imagen">
    </div>
  </div>
</div>
<div class="contenido-secundario conteiner">
  <div class="row align-items-start m-0">
    <div class="imagen">
      <img src="../../../assets/p2.jpeg" alt="Descripción de la imagen">
    </div>
    <div class="col">
      <h1>Aprende un nuevo lenguaje</h1>
      <h2>Practica hablar con hablantes 
        nativos y mejora tu habilidades lingüísticas
         a través de tiempo  real conversaciones</h2>
    </div>
  </div>
</div>
<div class="contenido-principal conteiner">
  <div class="row align-items-start m-0">
    <div class="col">
      <h1>Expande tu conocimiento cultural</h1>
      <h2>Experimenta diferentes culturas y adquiere conocimientos
         sobre sus costumbres, tradiciones y forma de vida.</h2>
    </div>
    <div class="imagen">
      <img src="../../../assets/p3.jpeg" alt="Descripción de la imagen">
    </div>
  </div>
</div>

<div class="contenido-terciario conteiner">
  <div class="row align-items-start m-0">
    <div class="linea-negra"></div>
    <div class="col">
      <h3>Copyright © 2023-2023 Talk2gether</h3>
    </div>
  </div>
</div>