<div class="letra">
    <h3>Pasos para completar la url del ícono</h3>
    <h5>1. Diríjase al link que se encuentra debajo</h5>
    <a href="https://fontawesome.com/icons" target="_blank">https://fontawesome.com/icons</a>
    <h5>2. Busque el nombre del ícono en INGLÉS</h5>
    <h5>3. Selecciones la opcion free como muestra la siguiente imagen</h5>
    <div class="centrado">
        <img src="../../../assets/images/font-awesome-1.jpeg"/>
    </div>
    <h5>4. Selecciones el icono que desea.</h5>
    <h5>5. Copie el texto en color verde claro que se encuentra entre comillas</h5>
    <div class="centrado">
        <img src="../../../assets/images/font-awesome-2.jpeg"/>
    </div>
    <h5>6. Pegue en el campo de Icono del interés</h5>
    <h5>7. Podrá verificar en la tabla si se cargo bien el ícono</h5>
    <h5>¡LISTO!</h5>

</div>
    